<!--<mat-sidenav-container  style="position: fixed; rigth: 0; ">-->
  <!--<mat-sidenav-content>-->
    <!--<mat-toolbar  color="warn">-->
      <!--<button type="button" aria-label="Toggle sidenav"-->
              <!--mat-icon-button (click)="sidenav.toggle()" >-->
        <!--<mat-icon aria-label="Side nav toggle icon">face</mat-icon>-->
      <!--</button>-->
      <!--&lt;!&ndash; <span>Menu</span> &ndash;&gt;-->
    <!--</mat-toolbar>-->
  <!--</mat-sidenav-content>-->

  <!--<mat-sidenav #sidenav class="sidenav" fixedInViewport="true" (click)="sidenav.toggle()">-->
    <!--<mat-toolbar  color="warn" >Menu</mat-toolbar>-->
    <!--<div>-->
      <!--<p>area perfil do usuario</p>-->
    <!--</div>-->
  <!--</mat-sidenav>-->

<!--</mat-sidenav-container>-->


<!--<img src="./assets/img/profile.png" class="angular-logo" [routerLink]="['home']">-->

