<form [formGroup]="dialogForm">
<!--<form [formGroup]="dialogForm" (ngSubmit)="submit(dialogForm)">-->
  <div>
    <h3 mat-dialog-title>Selecione a Atividade</h3>
    <mat-divider></mat-divider>
    <mat-dialog-content>
      <mat-form-field>

        <mat-select placeholder="Selecione a atividade" #atividade>
          <mat-option *ngFor="let atividade of data" [value]="atividade">
            {{atividade.nome}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </mat-dialog-content>
    <mat-dialog-actions style="vertical-align: bottom">
      <button mat-raised-button  color="warn" [mat-dialog-close]="atividade" [disabled]="dialogForm.invalid"
              click="confirm(atividade)" cdkFocusInitial>
        Seleciona
      </button>
      <button mat-raised-button  color="warn" (click)="onNoClick()">Cancela</button>
    </mat-dialog-actions>
  </div>
</form>
<!--<pre>{{data | json}}</pre>-->

