<form [formGroup]="detailForm" (ngSubmit)="submit(detailForm)">
  <mat-card>
    <mat-card-title>
      Incluir Fornecedor
    </mat-card-title>

    <mat-card-content>

      <span><mat-icon matPrefix>perm_contact_calendar</mat-icon>Tipo Juridico </span>
      <br>
      <mat-radio-group  formControlName="tipoJur">
        <mat-radio-button appAutofocus   *ngFor="let tj of tiposJuridicos" value={{tj.key}}>
          {{(tj.value).replace('_', ' ')}}<br>
        </mat-radio-button>
      </mat-radio-group>

      <br>
      <mat-form-field>
        <mat-icon matPrefix>perm_contact_calendar</mat-icon>
        <input type="text" matInput formControlName="cpfCnpj" placeholder="CPF / CNPJ"
               [textMask]="{mask: this.detailForm.get('tipoJur').value == 'PF' ? cpfMask : cnpjMask}">
      </mat-form-field>

      <br>
      <mat-error *ngIf="fornecedorResult != null ">
        Fornecedor já cadastrado:
        <li>Nome/Razão social: {{fornecedorResult?.nomeRazaoSocial }}</li>
        <li>Apelido/Nome fantasia : {{fornecedorResult?.apelidoNomeFantasia }}</li>
        <li>Ativo: {{fornecedorResult?.ativo ? 'Sim' : 'Não'}}</li>
      </mat-error>

    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button  color="warn" type="submit" [disabled]="detailForm.invalid"
              class="btn-default">Continuar
      </button>
      <button mat-raised-button  color="warn" (click)="cancel()">Voltar</button>
    </mat-card-actions>
  </mat-card>
</form>
