/*.grid-container {*/
  /*!*background-image: url('../../../assets/initial-page.jpg');*!*/
  /*!*background-blend-mode: screen;*!*/
  /*!*background-repeat: no-repeat;*!*/
  /*!*background-size:100%;*!*/
  /*margin: 10px;*/
/*}*/

/*.dashboard-card {*/
  /*position: absolute;*/
  /*top: 15px;*/
  /*left: 15px;*/
  /*right: 15px;*/
  /*bottom: 15px;*/
  /*!*opacity: 0.9;*!*/
  /*!*filter: alpha(opacity=90); !* For IE8 and earlier *!*!*/
/*}*/

/*.more-button {*/
  /*position: absolute;*/
  /*top: 5px;*/
  /*right: 10px;*/
/*}*/

/*.dashboard-card-content {*/
  /*text-align: center;*/
/*}*/

.ontrack {
  cursor: pointer;
  background-color: green;
}

.delayed {
  cursor: pointer;
  background-color: red;
}

.table-scroll {
  position:relative;
  /*max-width:600px;*/
  max-width:border-box;
  margin:auto;
  overflow:hidden;
  border:1px solid #000;
}
.table-wrap {
  width:100%;
  overflow:auto;
}
.table-scroll table {
  width:100%;
  margin:auto;
  border-collapse:separate;
  border-spacing:0;
}

.table {
  display: block;
  overflow-x: auto;
  white-space: nowrap;
  table-layout: fixed;
}

tr.scaffolding, .scaffolding td {
  border:none;
  padding-top:0;
  padding-bottom:0;
  height:0;
  margin-top:0;
  margin-bottom:0;
  visibility:hidden;
}

td {
  horiz-align: center;
}

th {
  alignment: center !important;
  min-width:100%;
  height: 120%;
  width: 125px !important;
  word-break: normal !important;
  border: 1px solid black;
}

.placa {
  /*font-family:"Courier New";*/
  cursor: pointer !important;
  font-size: large;
  background-color: lightgrey;
  align-content: center;
  horiz-align: center;
  vert-align: middle;
  width: 115px;
  height: 45px;
  /*margin: 0px ;*/
  margin: 3px;
  border-radius: 6px;
  padding: 4px;
  border: 2px black solid ;
  position: relative;
  z-index: 10;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12),
              0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}


.placa :hover {
  cursor: pointer;
  background-color: #00b3e1;
  box-shadow: 0 1px 2px rgba(0,0,0,0.25),
              0 1px 1px rgba(0,0,0,0.22);
}

::ng-deep .mat-tooltip  {
  white-space: pre;
  /*max-width: 200px !important;*/
}

