<!--<div class="grid-container">-->

  <!--<mat-horizontal-stepper [linear]="isLinear" #stepper>-->
    <!--<mat-step [stepControl]="firstFormGroup">-->
      <!--<form [formGroup]="firstFormGroup">-->
        <!--<ng-template matStepLabel>Cadastre o Veículo</ng-template>-->
        <!--<mat-form-field>-->
          <!--<input matInput placeholder="Last name, First name" formControlName="firstCtrl" required>-->
        <!--</mat-form-field>-->
        <!--<div>-->
          <!--<button mat-button matStepperNext>Next</button>-->
        <!--</div>-->
      <!--</form>-->
    <!--</mat-step>-->
    <!--<mat-step [stepControl]="secondFormGroup">-->
      <!--<form [formGroup]="secondFormGroup">-->
        <!--<ng-template matStepLabel>Saida Veículo para Manutenção</ng-template>-->
        <!--<mat-form-field>-->
          <!--<input matInput placeholder="Address" formControlName="secondCtrl" required>-->
        <!--</mat-form-field>-->
        <!--<div>-->
          <!--<button mat-button matStepperPrevious>Back</button>-->
          <!--<button mat-button matStepperNext>Next</button>-->
        <!--</div>-->
      <!--</form>-->
    <!--</mat-step>-->
    <!--<mat-step>-->
      <!--<ng-template matStepLabel>Retorno do Veículo da Manutenção </ng-template>-->
      <!--You are now done.-->
      <!--<div>-->
        <!--<button mat-button matStepperPrevious>Back</button>-->
        <!--<button mat-button (click)="stepper.reset()">Reset</button>-->
      <!--</div>-->
    <!--</mat-step>-->
    <!--<mat-step>-->
      <!--<ng-template matStepLabel>Saída do Veículo para venda</ng-template>-->
      <!--You are now done.-->
      <!--<div>-->
        <!--<button mat-button matStepperPrevious>Back</button>-->
        <!--<button mat-button (click)="stepper.reset()">Reset</button>-->
      <!--</div>-->
    <!--</mat-step>-->
  <!--</mat-horizontal-stepper>-->

  <!--<div>-->
    <!--<pre>{{auth.token.getAccess() | json}}</pre>-->
  <!--</div>-->
  <!--<div>-->
    <!--user: {{auth.token.getUsername()}}-->
  <!--</div>-->

  <!--<div>-->
    <!--<table class="table">-->
      <!--<tr *ngFor="let m of auth.token.getAccess()">-->
        <!--<td>{{m.menu?.id}}</td>-->
        <!--<td>{{m.menu?.name}}</td>-->
        <!--<td>{{m.menu?.description}}</td>-->
        <!--<td>{{m.menu?.crud}}</td>-->
        <!--<td>{{m.create}}</td>-->
        <!--<td>{{m.read}}</td>-->
        <!--<td>{{m.update}}</td>-->
        <!--<td>{{m.delete}}</td>-->
        <!--<td>{{m.menu?.parentMenuId}}</td>-->
      <!--</tr>-->
    <!--</table>-->
  <!--</div>-->

  <!--<mat-accordion>-->

    <!--<mat-expansion-panel>-->
      <!--<mat-expansion-panel-header>-->
        <!--<mat-icon matPrefix>build</mat-icon>&nbsp; Mapa de ordens de serviço-->
      <!--</mat-expansion-panel-header>-->


      <!--<mat-tab-group>-->
        <!--<mat-tab>-->
          <!--<ng-template mat-tab-label>-->
            <!--<mat-icon class="example-tab-icon">table</mat-icon>-->
            <!--Painel-->
          <!--</ng-template>-->

          <h2>Painel </h2>
          <div id="table-scroll" class="table-scroll">
            <br>
            <div>
              <table>
                <tr>
                  <td>
                    <mat-form-field>
                      <input type="text" matInput placeholder="Placa" [(ngModel)]="placa" [ngModelOptions]="{standalone: true}"/>
                      </mat-form-field>
                  </td>
                  <td>
                    <mat-form-field>
                      <input type="text" matInput placeholder="Fornecedor" [(ngModel)]="fornecedor" [ngModelOptions]="{standalone: true}"/>
                    </mat-form-field>
                  </td>
                  <td>
                    <mat-slide-toggle [(ngModel)]="osPendente" labelPosition="before"> Somente OS pendentes </mat-slide-toggle>              
                  </td>
                </tr>
              </table>
              <hr/>
            </div>
            
            <div class="table-wrap">
              <mat-progress-spinner *ngIf="loading"></mat-progress-spinner>              
              <br/>
              <table *ngIf="!loading">
                <tr>
                  <th *ngFor="let item of osList | filterOs: osPendente : placa : fornecedor ">
                    {{item.apelido}}
                  </th>
                </tr>
                <tr *ngFor="let row of counter(rowCount);let idx = index ">
                  <td *ngFor="let item of osList | filterOs: osPendente : placa : fornecedor ">

                    <b>
                      <div *ngIf="item.ordens.length > idx" class="placa">

                         <div id="{{getOs(item,idx,'id')}}" matTooltip="{{getOs(item,idx,'info')}}"  
                            (click)="openDetail(item,idx)"  class="{{getOs(item,idx,'delayed')}}" > 
                        
                          {{getOs(item,idx,'placa')}}

                        </div>
                      </div>
                    </b>
                  </td>
                </tr>
              </table>
            
            </div>
          </div>

        <!--</mat-tab>-->

        <!--<mat-tab>-->
          <!--<ng-template mat-tab-label>-->
            <!--<mat-icon class="example-tab-icon">dashboard</mat-icon>-->
            <!--Sumário-->
          <!--</ng-template>-->
          <!--Content 2-->
        <!--</mat-tab>-->

        <!--<mat-tab>-->
          <!--<ng-template mat-tab-label>-->
            <!--<mat-icon class="example-tab-icon">insert_chart</mat-icon>-->
            <!--Gráfico-->
          <!--</ng-template>-->

          <!--Content 3-->
        <!--</mat-tab>-->
      <!--</mat-tab-group>-->

    <!--</mat-expansion-panel>-->

    <!--<mat-divider></mat-divider>-->

    <!--<mat-expansion-panel>-->
      <!--<mat-expansion-panel-header>-->
        <!--<mat-icon matPrefix>directions_car</mat-icon>&nbsp;Veículos-->
      <!--</mat-expansion-panel-header>-->
    <!--</mat-expansion-panel>-->
    <!--<mat-divider></mat-divider>-->

  <!--</mat-accordion>-->

  <!--</div>-->


  <!--<h1 class="mat-h1">Dashboard</h1>-->
  <!--<mat-grid-list cols="2" rowHeight="350px">-->
  <!--<mat-grid-tile *ngFor="let card of cards" [colspan]="card.cols" [rowspan]="card.rows">-->
  <!--<mat-card class="dashboard-card">-->
  <!--<mat-card-header>-->
  <!--<mat-card-title>-->
  <!--{{card.title}}-->
  <!--<p>Exemplo de layout, ainda não definido, objetivo é exemplificar modelos de graficos que podem ser-->
  <!--adotados </p>-->
  <!--<button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">-->
  <!--<mat-icon>more_vert</mat-icon>-->
  <!--</button>-->
  <!--<mat-menu #menu="matMenu" xPosition="before">-->
  <!--<button mat-menu-item>Expand</button>-->
  <!--<button mat-menu-item>Remove</button>-->
  <!--</mat-menu>-->
  <!--</mat-card-title>-->
  <!--</mat-card-header>-->
  <!--<mat-card-content class="dashboard-card-content">-->

  <!--<div *ngIf="card.id == 1" class="row">-->
  <!--<div class="col-md-6">-->
  <!--<div style="display: block;">-->
  <!--<canvas baseChart-->
  <!--height="100"-->
  <!--[datasets]="lineChartData2"-->
  <!--[labels]="lineChartLabels2"-->
  <!--[options]="lineChartOptions2"-->
  <!--[colors]="lineChartColors2"-->
  <!--[legend]="lineChartLegend2"-->
  <!--[chartType]="lineChartType2"-->
  <!--(chartHover)="chartHovered2($event)"-->
  <!--(chartClick)="chartClicked2($event)"></canvas>-->
  <!--</div>-->
  <!--</div>-->
  <!--<div class="col-md-6" style="margin-bottom: 10px">-->
  <!--<table class="table table-responsive table-condensed">-->
  <!--<tr>-->
  <!--<th *ngFor="let label of lineChartLabels2">{{label}}</th>-->
  <!--</tr>-->
  <!--<tr *ngFor="let d of lineChartData2">-->
  <!--<td *ngFor="let label of lineChartLabels2; let j=index">{{d && d.data[j]}}</td>-->
  <!--</tr>-->
  <!--</table>-->
  <!--<button (click)="randomize2()">Update</button>-->
  <!--</div>-->
  <!--</div>-->

  <!--&lt;!&ndash;-&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&ndash;&gt;-->

  <!--<div *ngIf="card.id == 2">-->
  <!--<div style="display: block">-->
  <!--<canvas baseChart-->
  <!--height="100"-->
  <!--[datasets]="barChartData"-->
  <!--[labels]="barChartLabels"-->
  <!--[options]="barChartOptions"-->
  <!--[legend]="barChartLegend"-->
  <!--[chartType]="barChartType"-->
  <!--(chartHover)="chartHovered($event)"-->
  <!--(chartClick)="chartClicked($event)"></canvas>-->
  <!--</div>-->
  <!--<button (click)="randomize()">Update</button>-->
  <!--</div>-->


  <!--<div *ngIf="card.id == 3">-->

  <!--<div>-->

  <!--&lt;!&ndash;<div class="col-md-6">&ndash;&gt;-->
  <!--<div>-->
  <!--<canvas baseChart-->
  <!--height="100"-->
  <!--[data]="lineChartData"-->
  <!--[labels]="lineChartLabels"-->
  <!--[options]="lineChartOptions"-->
  <!--[chartType]="lineChartType"-->
  <!--(chartHover)="chartHovered3($event)"-->
  <!--(chartClick)="chartClicked3($event)"></canvas>-->
  <!--</div>-->
  <!--</div>-->

  <!--<div>-->
  <!--<div>-->
  <!--<canvas baseChart-->
  <!--height="100"-->
  <!--[data]="pieChartData"-->
  <!--[labels]="pieChartLabels"-->
  <!--[chartType]="pieChartType"-->
  <!--(chartHover)="chartHovered3($event)"-->
  <!--(chartClick)="chartClicked3($event)"></canvas>-->
  <!--</div>-->
  <!--</div>-->
  <!--<div class="col-md-12 text-center" style="margin-top: 10px;height: 50%">-->
  <!--<button (click)="randomizeType()" style="display: inline-block">Toggle</button>-->
  <!--</div>-->

  <!--</div>-->


  <!--</mat-card-content>-->
  <!--</mat-card>-->
  <!--</mat-grid-tile>-->
  <!--</mat-grid-list>-->
  <!---->

<!--</div>-->

<!-- 
<pre> {{osList | json}}</pre> -->
