<div class="page-content">
  <div class="signin-content">
    <mat-progress-bar mode="indeterminate" *ngIf="isLoading"></mat-progress-bar>
    <mat-card>
      <mat-card-title>
        <h6>Redefinir senha</h6>
      </mat-card-title>
      <mat-card-content>
        <form [formGroup]="detailForm" (ngSubmit)="onSubmit()">

          <br>
          <span style="alignment: left">E-mail: {{userEmail}}</span>
          <br>
          <mat-form-field class="full-width-input">
            <mat-icon matPrefix>lock</mat-icon>
            <input matInput placeholder="Nova senha" formControlName="password" required autofocus type="password"
                   [disabled]="isLoading">
          </mat-form-field>
          <br>

          <mat-form-field class="full-width-input">
            <mat-icon matPrefix>lock</mat-icon>
            <input matInput placeholder="Repita nova senha" formControlName="confirmPass" required type="password"
                   [disabled]="isLoading">
            <!--<mat-icon matSuffix (click)="hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>-->
          </mat-form-field>
          <br/>
          <div>
            <button mat-raised-button class="btn-default"  color="warn" type="submit" style="width: 100%"
                    [disabled]="detailForm.invalid || isLoading ">Continuar
            </button>
          </div>
          <br>
          <div>
            <button mat-raised-button  color="warn" style="width: 100%" (click)="cancelar()" [disabled]="isLoading">
              Cancelar
            </button>
          </div>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
</div>


