<mat-card class="mat-card">
  <mat-card-header>
    <mat-card-title>Detalhe Perfil</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form [formGroup]="detailForm" (ngSubmit)="onSubmit()"  class="detail-container">

      <mat-form-field >
        <input matInput placeholder="id" readonly formControlName="id" >
      </mat-form-field>

      <mat-form-field >
        <input matInput placeholder="nome" formControlName="nome" >
      </mat-form-field>

      <mat-form-field >
        <input matInput placeholder="codigoIbge" formControlName="codigoIbge" >
      </mat-form-field>

      <mat-form-field >
        <mat-select placeholder="estado" formControlName="estado" [compareWith]="compareFn">
          <mat-option *ngFor="let estadoItem of estados" [value]="estadoItem">{{estadoItem.nome}}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-dialog-actions>
        <button mat-raised-button  color="warn" type="submit" [disabled]="detailForm.invalid"  *ngIf="saveEnabled">Salvar</button>
        &nbsp;
        <button mat-raised-button  color="warn" type="button" routerLink="/municipio" >Voltar</button>
      </mat-dialog-actions>
    </form>

  </mat-card-content>
</mat-card>

