<div class="page-content">

  <div class="signin-content">
    <mat-progress-bar mode="indeterminate" *ngIf="isLoading"></mat-progress-bar>
    <mat-card>
      <mat-card-content>
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
          <h6>Por favor efetue seu login para continuar</h6>
          <br>
          <br>
          <mat-form-field class="full-width-input" >
            <mat-icon matPrefix>account_box</mat-icon>
            <input matInput placeholder="Usuário" formControlName="username" required autofocus  [disabled]="isLoading">
          </mat-form-field>
          <mat-form-field class="full-width-input" >
            <mat-icon matPrefix>vpn_key</mat-icon>
            <input matInput placeholder="Senha" formControlName="password" required [type]="hide ? 'password' : 'text'"  [disabled]="isLoading">
            <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
          </mat-form-field>
          <br/>
          <div>
            <button mat-raised-button class="btn-default"  color="warn" type="submit" style="width: 100%"
                    [disabled]="loginForm.invalid || isLoading " >Continuar</button>
          </div>
          <br>
          <div>
            <button mat-raised-button  color="warn" style="width: 100%" (click)="forgotPassword()"
                    [disabled]="isLoading" >Esqueci minha senha</button>
          </div>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
</div>


