<mat-card class="mat-card">

  <mat-card-header>
    <mat-card-title>Detalhe Ordem de Serviço</mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <form [formGroup]="detailForm" (ngSubmit)="onSubmit()" class="detail-container">

      <div>
        <mat-form-field>
          <mat-icon matPrefix>perm_contact_calendar</mat-icon>
          <input type="text" matInput readonly placeholder="Número" formControlName="id">
        </mat-form-field>
        &nbsp;&nbsp;

        <mat-form-field>
          <mat-icon matPrefix>perm_contact_calendar</mat-icon>
          <mat-select appAutofocus placeholder="Situação" formControlName="situacaoServico" [compareWith]="compareFn">
            <mat-option *ngFor="let sit of situacoes; index as ordem;" [value]="sit">{{sit.nome}}</mat-option>
          </mat-select>
        </mat-form-field>

      </div>

      <mat-form-field style="width: 100%;">
        <mat-icon matPrefix>directions_car</mat-icon>
        <input type="text" matInput placeholder="Veiculo" formControlName="veiculo" [matAutocomplete]="autoVeiculo">
        <mat-autocomplete #autoVeiculo="matAutocomplete" (optionSelected)="onSelectionVeiculoChanged($event)"
                          [displayWith]="displayVeiculoFn">
          <mat-option *ngFor="let veic of filteredVeiculos | async" [value]="veic">
            {{ veic.placa +' '+ veic.marca.nome +' '+ veic.modelo +' '+ veic.cor}}
          </mat-option>
        </mat-autocomplete>
        <button mat-button type="button" matSuffix mat-icon-button aria-label="Limpar" (click)="detailForm.get('veiculo').setValue('')">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>

      &nbsp;&nbsp;
      <mat-form-field>
        <mat-icon matPrefix>perm_contact_calendar</mat-icon>
        <mat-select placeholder="Natureza do Serviço" formControlName="naturezaServico" [compareWith]="compareFn">
          <mat-option *ngFor="let nat of naturezas" [value]="nat">{{nat.nome}}</mat-option>
        </mat-select>
      </mat-form-field>


      <mat-form-field style=" width: 100%;">
        <mat-icon matPrefix>perm_contact_calendar</mat-icon>
        <textarea matInput placeholder="Descrição do Servico" formControlName="descricao"></textarea>
      </mat-form-field>

      <div>
        <mat-form-field>
          <mat-icon matPrefix>today</mat-icon>
          <input matInput [matDatepicker]="dtAberturaPicker" placeholder="Abertura" formControlName="abertura">
          <mat-datepicker-toggle matSuffix [for]="dtAberturaPicker"></mat-datepicker-toggle>
          <mat-datepicker #dtAberturaPicker></mat-datepicker>
        </mat-form-field>
        &nbsp;&nbsp;&nbsp;&nbsp;

        <mat-form-field>
          <mat-icon matPrefix>today</mat-icon>
          <input matInput [matDatepicker]="dtPrevisaoPicker" placeholder="Previsão Devolução"
                 formControlName="devolucaoPrevisao">
          <mat-datepicker-toggle matSuffix [for]="dtPrevisaoPicker"></mat-datepicker-toggle>
          <mat-datepicker #dtPrevisaoPicker></mat-datepicker>
        </mat-form-field>

      </div>

      <mat-form-field style="width: 100%;">
        <input type="text" matInput placeholder="Fornecedor" formControlName="fornecedor"
               [matAutocomplete]="autoFornecedor">
        <mat-autocomplete #autoFornecedor="matAutocomplete" (optionSelected)="onSelectionFornecChanged($event)"
                          [displayWith]="displayFornecedorFn">
          <mat-option *ngFor="let forn of filteredFornecedores | async" [value]="forn">
            {{ forn.apelidoNomeFantasia}}
          </mat-option>
        </mat-autocomplete>
        <button mat-button type="button" matSuffix mat-icon-button aria-label="Limpar" (click)="detailForm.get('fornecedor').setValue('')">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>

      <mat-tab-group>

        <mat-tab>
          <ng-template mat-tab-label>
            <mat-icon>build</mat-icon>&nbsp;&nbsp;
            <!-- -------------------------------------------------------------------------------------- -->
            Retirada
            <!-- -------------------------------------------------------------------------------------- -->
          </ng-template>

          <mat-form-field>
            <mat-icon matPrefix>today</mat-icon>
            <input matInput [matDatepicker]="dtRetiradaPicker" placeholder="Retirada"
                   formControlName="retiradaDataHora">
            <mat-datepicker-toggle matSuffix [for]="dtRetiradaPicker"></mat-datepicker-toggle>
            <mat-datepicker #dtRetiradaPicker></mat-datepicker>
          </mat-form-field>

          &nbsp;&nbsp;&nbsp;&nbsp;
          <mat-form-field>
            <span matPrefix>$&nbsp;</span>
            <input type="text" matInput placeholder="Valor previsto" formControlName="retiradaValorPrevisto"
                   currencyMask [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }">

            <!--onkeypress="return String.fromCharCode(event.charCode).match(/[0-9]|\.|\-|\,/g) != null"-->
          </mat-form-field>

          &nbsp;&nbsp;&nbsp;&nbsp;
          <mat-form-field>
            <mat-icon matPrefix>perm_contact_calendar</mat-icon>
            <input type="text" matInput placeholder="Nro. OS do fornecedor" formControlName="numeroOsFornecedor">
          </mat-form-field>

          <div>
            <mat-form-field>
              <mat-icon matPrefix>perm_contact_calendar</mat-icon>
              <input type="text" matInput placeholder="Entregue por (colaborador)"
                     formControlName="retiradaResponsavelColaborador">
            </mat-form-field>

            &nbsp;&nbsp;&nbsp;&nbsp;
            <mat-form-field>
              <mat-icon matPrefix>perm_contact_calendar</mat-icon>
              <input type="text" matInput placeholder="Retirado por (fornecedor)"
                     formControlName="retiradaResponsavelFornecedor">
            </mat-form-field>
          </div>

          <mat-form-field style="width: 100%;">
            <mat-icon matPrefix>subject</mat-icon>
            <textarea matInput placeholder="Observações na retirada"
                      formControlName="retiradaObservacoes"></textarea>
          </mat-form-field>
        </mat-tab>


        <mat-tab>
          <ng-template mat-tab-label>
            <mat-icon>thumb_up</mat-icon>&nbsp;&nbsp;
            <!-- -------------------------------------------------------------------------------------- -->
            Devolução
            <!-- -------------------------------------------------------------------------------------- -->
          </ng-template>

          <mat-form-field>
            <mat-icon matPrefix>today</mat-icon>
            <input matInput [matDatepicker]="dtDevolucaoPicker" placeholder="Devolução"
                   formControlName="devolucaoDataHora">
            <mat-datepicker-toggle matSuffix [for]="dtDevolucaoPicker"></mat-datepicker-toggle>
            <mat-datepicker #dtDevolucaoPicker></mat-datepicker>
          </mat-form-field>

          &nbsp;&nbsp;&nbsp;&nbsp;
          <mat-form-field>
            <mat-icon matPrefix>perm_contact_calendar</mat-icon>
            <input type="text" matInput localCurrency placeholder="Valor realizado" formControlName="devolucaoValorRealizado"
                   currencyMask [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }">
          </mat-form-field>

          <div>
            <mat-form-field>
              <mat-icon matPrefix>perm_contact_calendar</mat-icon>
              <input type="text" matInput placeholder="Recebido por (colaborador)"
                     formControlName="devolucaoResponsavelColaborador">
            </mat-form-field>

            &nbsp;&nbsp;&nbsp;&nbsp;
            <mat-form-field>
              <mat-icon matPrefix>perm_contact_calendar</mat-icon>
              <input type="text" matInput placeholder="Devolvido por (fornecedor)"
                     formControlName="devolucaoResponsavelFornecedor">
            </mat-form-field>
          </div>

          <mat-form-field style="width: 100%;">
            <mat-icon matPrefix>subject</mat-icon>
            <textarea matInput placeholder="Observações na devolução"
                      formControlName="devolucaoObservacoes"></textarea>
          </mat-form-field>
        </mat-tab>


        <!--<mat-tab >-->
          <!--<ng-template mat-tab-label>-->
            <!--<mat-icon>announcements</mat-icon>&nbsp;&nbsp;-->
            <!--&lt;!&ndash; &#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45; &ndash;&gt;-->
            <!--Ocorrências-->
            <!--&lt;!&ndash; &#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45; &ndash;&gt;-->
          <!--</ng-template>-->

          <!--<div formArrayName="ocorrencias">-->
            <!--<div>-->
              <!--<h5>ocorrencias &nbsp;&nbsp;-->
                <!--<button mat-mini-fab  color="warn" type="button" (click)="addOcorrencia()">-->
                  <!--<mat-icon>add</mat-icon>-->
                <!--</button>-->
              <!--</h5>-->
            <!--</div>-->

            <!--<div>-->
              <!--<div *ngFor="let telefone of detailForm.controls.ocorrencias.controls; let i=index">-->

                <!--<div [formGroupName]="i">-->

                  <!--<button mat-mini-fab  color="warn" (click)="removeOcorrencia(i)">-->
                    <!--<mat-icon>remove</mat-icon>-->
                  <!--</button>-->
                  <!--&nbsp;&nbsp;&nbsp;&nbsp;-->

                  <!--<mat-form-field>-->
                    <!--<mat-icon matPrefix>today</mat-icon>-->
                    <!--<input matInput [matDatepicker]="dtOcorrenciaPicker" placeholder="Data" formControlName="data">-->
                    <!--<mat-datepicker-toggle matSuffix [for]="dtOcorrenciaPicker"></mat-datepicker-toggle>-->
                    <!--<mat-datepicker #dtOcorrenciaPicker></mat-datepicker>-->
                  <!--</mat-form-field>-->

                  <!--&nbsp;&nbsp;&nbsp;&nbsp;-->

                  <!--<mat-form-field>-->
                    <!--<span matPrefix>$&nbsp;</span>-->
                    <!--<input type="text" matInput placeholder="Valor" formControlName="valor"-->
                           <!--currencyMask [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }">-->
                           <!--&lt;!&ndash;onkeypress="return String.fromCharCode(event.charCode).match(/[0-9]|\.|\-|\,/g) != null">&ndash;&gt;-->
                  <!--</mat-form-field>-->


                  <!--<mat-form-field style="width: 100%;">-->
                    <!--<mat-icon matPrefix>subject</mat-icon>-->
                    <!--<textarea matInput placeholder="Observações" formControlName="observacao"></textarea>-->
                  <!--</mat-form-field>-->

                <!--</div>-->
              <!--</div>-->
            <!--</div>-->
          <!--</div>-->
        <!--</mat-tab>-->

      </mat-tab-group>


      <mat-dialog-actions>
        <br>
        <!--<button mat-raised-button  color="warn" type="submit" [disabled]="detailForm.invalid" *ngIf="saveEnabled">Salvar</button>-->
        <button mat-raised-button  color="warn" type="submit" *ngIf="saveEnabled">Salvar</button>
        &nbsp;
        <button mat-raised-button  color="warn" type="button" (click)="cancel()">Voltar</button>
      </mat-dialog-actions>

    </form>
  </mat-card-content>
</mat-card>

<!--<pre>{{ detailForm.value | json }}</pre>-->
