<mat-card>
  <mat-card-header>
    <mat-card-title>Municípios</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div class="spinner-container" *ngIf="loading | async">
      <mat-spinner></mat-spinner>
    </div>
    <table class="table-search-pagging">
      <td>
        <mat-form-field>
          <input matInput #filter (keyup)="applyFilter($event.target.value)" placeholder="Search">
        </mat-form-field>
      </td>
      <td>
        <mat-paginator #paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 20]"></mat-paginator>
      </td>
    </table>
    <mat-table #table [dataSource]="dataSource" matSort>

      <ng-container matColumnDef="id">
        <mat-header-cell *matHeaderCellDef  color="warn"> Id</mat-header-cell>
        <mat-cell *matCellDef="let row">{{row.id}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="nome">
        <mat-header-cell *matHeaderCellDef  color="warn">nome</mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.nome}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="codigoIbge">
        <mat-header-cell *matHeaderCellDef  color="warn"> codigoIbge</mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.codigoIbge}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="uf">
        <mat-header-cell *matHeaderCellDef  color="warn"> estado</mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.uf}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="actionsColumn">
        <mat-header-cell *matHeaderCellDef  color="warn">
          <button mat-mini-fab  color="warn" class="plus-custom-button" (click)="add()" [disabled]="!accessCreate"><mat-icon>add</mat-icon></button>
        </mat-header-cell>
        <mat-cell *matCellDef="let row">
          <button mat-icon-button (click)="show(row)" [disabled]="!accessRead" ><mat-icon>search</mat-icon></button>
          <button mat-icon-button (click)="edit(row)" [disabled]="!accessUpdate"><mat-icon>edit</mat-icon></button>
          <button mat-icon-button (click)="delete(row)" [disabled]="!accessDelete"><mat-icon>delete</mat-icon></button>
        </mat-cell>
      </ng-container>


      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
  </mat-card-content>
