<mat-card>
  <mat-card-header>
    <mat-card-title>Usuário</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <table class="table-search-pagging">
      <td> <mat-form-field>
        <input matInput #filter (keyup)="applyFilter($event.target.value)" placeholder="Search">
      </mat-form-field> </td>
      <td>
        <mat-paginator #paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 20]"></mat-paginator> </td>
    </table>
    <mat-table #table [dataSource]="dataSource" matSort>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

      <!--<ng-container matColumnDef="id">-->
        <!--<mat-header-cell *matHeaderCellDef  color="warn"> User Id </mat-header-cell>-->
        <!--<mat-cell *matCellDef="let row">{{row.id}}</mat-cell>-->
      <!--</ng-container>-->

      <ng-container matColumnDef="username">
        <mat-header-cell *matHeaderCellDef  autofocus  color="warn">Login</mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.username}} </mat-cell>
      </ng-container>

      <!--<ng-container matColumnDef="email">-->
        <!--<mat-header-cell *matHeaderCellDef   color="warn"> E-mail</mat-header-cell>-->
        <!--<mat-cell *matCellDef="let row"> {{row.email}} </mat-cell>-->
      <!--</ng-container>-->

      <ng-container matColumnDef="firstName">
        <mat-header-cell *matHeaderCellDef   color="warn" > Nome</mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.firstName}}  </mat-cell>
      </ng-container>

      <ng-container matColumnDef="lastName">
        <mat-header-cell *matHeaderCellDef   color="warn"> Sobrenome</mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.lastName}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="active">
        <mat-header-cell *matHeaderCellDef  color="warn"> ativo</mat-header-cell>
        <mat-cell *matCellDef="let row"> <mat-checkbox onclick="return false" [checked]="row.active"></mat-checkbox></mat-cell>
      </ng-container>

      <ng-container matColumnDef="blocked" >
        <mat-header-cell *matHeaderCellDef   color="warn"> bloqueado</mat-header-cell>
        <mat-cell *matCellDef="let row"> <mat-checkbox onclick="return false" [checked]="row.blocked"></mat-checkbox></mat-cell>
      </ng-container>

      <ng-container matColumnDef="actionsColumn">
        <mat-header-cell *matHeaderCellDef  color="warn">
          <button mat-mini-fab  color="warn" class="plus-custom-button" (click)="add()" [disabled]="!accessCreate"><mat-icon>add</mat-icon></button>
        </mat-header-cell>
        <mat-cell *matCellDef="let row">
          <button mat-icon-button (click)="show(row)" [disabled]="!accessRead" ><mat-icon>search</mat-icon></button>
          <button mat-icon-button (click)="edit(row)" [disabled]="!accessUpdate"><mat-icon>edit</mat-icon></button>
          <button mat-icon-button (click)="delete(row)" [disabled]="!accessDelete"><mat-icon>delete</mat-icon></button>
        </mat-cell>
      </ng-container>


    </mat-table>
    <mat-paginator #paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 20]"> </mat-paginator>
  </mat-card-content>
</mat-card>

<!--<pre>{{users | json}}</pre>-->
