<mat-card >
  <mat-card-header>
    <mat-card-title>Usuário Detalhe</mat-card-title>
  </mat-card-header>
  <!--<img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">-->
  <mat-card-content>
    <form [formGroup]="detailForm" (ngSubmit)="onSubmit()" class="detail-container">
      <div >
        <!--<mat-form-field >-->
          <!--<mat-icon matPrefix>account_box</mat-icon>-->
          <!--<input matInput readonly placeholder="id" autofocus formControlName="id">-->
        <!--</mat-form-field>-->
        <!--&nbsp;&nbsp;-->

        <mat-form-field>
          <mat-icon matPrefix>account_box</mat-icon>
          <input matInput autofocus placeholder="Usuário" autofocus formControlName="username">
        </mat-form-field>
        &nbsp;&nbsp;

        <mat-form-field>
          <mat-icon matPrefix>contact_mail</mat-icon>
          <input matInput placeholder="E-mail" formControlName="email" type="email">
        </mat-form-field>

        <div>
          <mat-form-field>
            <mat-icon matPrefix>vpn_key</mat-icon>
            <input matInput placeholder="senha" formControlName="password" type="password">
          </mat-form-field>

          &nbsp;&nbsp;&nbsp;
          <mat-form-field>
            <mat-icon matPrefix>vpn_key</mat-icon>
            <input matInput placeholder="confirma senha" formControlName="confirmPass" type="password">
          </mat-form-field>

        </div>

        <mat-form-field>
          <mat-icon matPrefix>perm_contact_calendar</mat-icon>
          <input matInput placeholder="Nome" formControlName="firstName">
        </mat-form-field>
        &nbsp;&nbsp;

        <mat-form-field>
          <mat-icon matPrefix>perm_contact_calendar</mat-icon>
          <input matInput placeholder="Sobrenome" formControlName="lastName">
        </mat-form-field>
        &nbsp;&nbsp;

        <div style="columns: max-content">
          <mat-checkbox formControlName="active">Ativo</mat-checkbox>
          &nbsp;&nbsp;&nbsp;&nbsp;
          <mat-checkbox formControlName="blocked">Bloqueado</mat-checkbox>
          &nbsp;&nbsp;&nbsp;&nbsp;
          <mat-checkbox formControlName="changePasswordNextLogin">Alterar Senha no Próximo Login</mat-checkbox>
          &nbsp;&nbsp;&nbsp;&nbsp;
          <mat-form-field style="width: 100px">
            <mat-icon matPrefix>today</mat-icon>
            <input matInput readonly placeholder="Tentativas de login" formControlName="loginAttempts">
          </mat-form-field>
        </div>

        <div>
          <mat-form-field>
            <mat-icon matPrefix>today</mat-icon>
            <input matInput readonly placeholder="Senha alterada em " formControlName="passwordAltered">
          </mat-form-field>
          &nbsp;&nbsp;
          <mat-form-field>
            <mat-icon matPrefix>today</mat-icon>
            <input matInput readonly placeholder="Último login" formControlName="lastLogin">
          </mat-form-field>
        </div>
      </div>

      <div formArrayName="roles">
        <div>
          <span>Perfis de acesso</span>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <button mat-mini-fab  color="warn" type="button" class="plus-custom-button" (click)="addRole()" *ngIf="saveEnabled">
            <mat-icon>add</mat-icon>
          </button>
        </div>
        <br>
        <mat-chip-list *ngFor="let role of detailForm.controls.roles.controls; let i=index">
          <mat-chip [formGroupName]="i">
            {{role?.value?.description}}
            <mat-icon matChipRemove (click)="removeRole(i)" *ngIf="saveEnabled && role?.value?.name != 'USER' ">cancel</mat-icon>
          </mat-chip> &nbsp;&nbsp;
        </mat-chip-list>

      </div>

      <br>
      <mat-dialog-actions>
        <button mat-raised-button  color="warn" type="submit" *ngIf="saveEnabled">Salvar</button>
        &nbsp;&nbsp;
        <button mat-raised-button  color="warn" type="button" routerLink="/user">Voltar</button>
      </mat-dialog-actions>
    </form>

  </mat-card-content>
</mat-card>

<!--<pre>{{detailForm.value | json}}</pre>-->
