<form [formGroup]="dialogForm" (ngSubmit)="submit(dialogForm)">
  <div >
  <h3 mat-dialog-title>Ordem de Serviço</h3>
    <mat-dialog-content>
      <!--<mat-form-field>-->
        <!--<mat-select placeholder="Selecione a Opção" autofocus #role>-->
          <!--<mat-option *ngFor="let role of data" [value]="role">-->
            <!--{{role.description}}-->
          <!--</mat-option>-->
        <!--</mat-select>-->
      <!--</mat-form-field>-->
      <pre>{{data | json}}</pre>
    </mat-dialog-content>
    <mat-dialog-actions style="vertical-align: bottom">
      <!--<button mat-raised-button  color="warn" [mat-dialog-close]="role" click="confirm(role)" cdkFocusInitial>seleciona</button>-->
      <button mat-raised-button  color="warn" (click)="onNoClick()">cancela</button>
    </mat-dialog-actions>
  </div>
</form>
