<mat-card class="mat-card">
  <mat-card-header>
    <mat-card-title>Detalhe Fornecedor</mat-card-title>
  </mat-card-header>
  <mat-card-content>

    <form [formGroup]="detailForm" (ngSubmit)="onSubmit()" class="detail-container">
      <div>
        <span>Id:{{detailForm.value.id}}</span>
        &nbsp;&nbsp;
        <mat-checkbox formControlName="ativo">Ativo</mat-checkbox>
      </div>
      <br>

      <div>
        <mat-form-field>
          <mat-icon matPrefix>perm_contact_calendar</mat-icon>
          <mat-select [disabled]="true" placeholder="Tipo Juridico" formControlName="tipoJuridico">
            <mat-option *ngFor="let tj of tiposJuridico" value={{tj.key}}>
              {{(tj.value).replace('_', ' ')}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <br>

        <mat-form-field>
          <mat-icon matPrefix>perm_contact_calendar</mat-icon>
          <input type="text" readonly  matInput formControlName="cpfCnpj" placeholder="CPF / CNPJ">
        </mat-form-field>
        &nbsp;&nbsp;

        <mat-form-field>
          <mat-icon matPrefix>perm_contact_calendar</mat-icon>
          <input type="text" matInput placeholder="Identidade / InscricaoEstadual"
                 formControlName="identidadeInscricaoEstadual">
        </mat-form-field>
      </div>

      <div>
        <mat-form-field>
          <mat-icon matPrefix>perm_contact_calendar</mat-icon>
          <input type="text" matInput placeholder="Nome / Razão Social" formControlName="nomeRazaoSocial">
        </mat-form-field>
        &nbsp;&nbsp;

        <mat-form-field>
          <mat-icon matPrefix>perm_contact_calendar</mat-icon>
          <input type="text" matInput placeholder="Apelido / Nome Fantasia" formControlName="apelidoNomeFantasia">
        </mat-form-field>
      </div>

      <div>
        <div *ngIf="this.detailForm.value.tipoJuridico == 'PF' ">
          <mat-icon matPrefix>wc</mat-icon>
          <span>Gênero</span> <br>
          <mat-radio-group placeholder="Gênero" formControlName="genero">
            <mat-radio-button *ngFor="let gen of generos" value={{gen.key}}>{{(gen.value).replace('_', ' ')}} &nbsp;&nbsp;</mat-radio-button>
          </mat-radio-group>
        </div>

        <mat-form-field>
          <mat-icon matPrefix>today</mat-icon>
          <input matInput [matDatepicker]="dateTimePicker" placeholder="Nascimento/Abertura"
                 formControlName="nascimentoAbertura">
          <mat-datepicker-toggle matSuffix [for]="dateTimePicker"></mat-datepicker-toggle>
          <mat-datepicker #dateTimePicker></mat-datepicker>
        </mat-form-field>
        &nbsp;&nbsp;

        <mat-form-field>
          <mat-icon matPrefix>mail</mat-icon>
          <input type="email" matInput placeholder="E-mail" formControlName="email">
        </mat-form-field>
      </div>

      <mat-form-field>
        <mat-icon matPrefix>subject</mat-icon>
        <textarea matInput placeholder="Notas e observações" formControlName="notas"></textarea>
      </mat-form-field>
      &nbsp;&nbsp;

      <div>
        <mat-form-field>
          <mat-icon matPrefix>contact_mail</mat-icon>
          <input type="text" matInput placeholder="CEP" formControlName="cep" [textMask]="{mask: cepMask}">
        </mat-form-field>
        &nbsp;&nbsp;

        <mat-form-field>
          <mat-icon matPrefix>location_on</mat-icon>
          <input type="text" matInput placeholder="Logradouro" formControlName="logradouro">
        </mat-form-field>
        &nbsp;&nbsp;

        <mat-form-field>
          <mat-icon matPrefix>location_on</mat-icon>
          <input type="text" matInput placeholder="Complemento" formControlName="complemento">
        </mat-form-field>
        &nbsp;&nbsp;
      </div>

      <div>
        <mat-form-field>
          <mat-icon matPrefix>location_on</mat-icon>
          <input type="text" matInput placeholder="Bairro" formControlName="bairro">
        </mat-form-field>
        &nbsp;&nbsp;

        <mat-form-field>
          <mat-icon matPrefix>domain</mat-icon>
          <mat-select placeholder="estado" formControlName="estado" [compareWith]="compareFn"
                      (selectionChange)="selectMunicipioPorEstado($event.value)">
            <mat-option *ngFor="let estadoItem of estados" [value]="estadoItem">{{estadoItem.nome}}</mat-option>
          </mat-select>
        </mat-form-field>
        &nbsp;&nbsp;

        <mat-form-field>
          <mat-icon matPrefix>location_city</mat-icon>
          <mat-select placeholder="municipio" formControlName="municipio" [compareWith]="compareFn">
            <mat-option *ngFor="let municipioItem of municipios" [value]="municipioItem">{{municipioItem.nome}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div formArrayName="telefones">
        <div>
          <h5>Telefones&nbsp;&nbsp;
            <button mat-mini-fab  color="warn" type="button" class="plus-custom-button" (click)="addTelefone()" *ngIf="saveEnabled">
              <mat-icon>add</mat-icon>
            </button>
          </h5>
        </div>


        <div>
          <div *ngFor="let telefone of detailForm.controls.telefones.controls; let i=index" class="telefone-container">

            <div [formGroupName]="i">
              &nbsp;&nbsp;&nbsp;&nbsp;
              <mat-form-field style="width:120px !important">
                <mat-icon matPrefix>phone</mat-icon>
                <!--<input style="width: min-content" type="text" matInput placeholder="Número: (12)3456-7890" formControlName="numero">-->
                <input style="width: min-content" type="text" matInput placeholder="Numero" formControlName="numero"
                       [textMask]="{mask: telMask}">
              </mat-form-field>
              &nbsp;&nbsp;
              <mat-form-field style="width:120px !important">
                <mat-select placeholder="Tipo Telefone" formControlName="tipo">
                  <mat-option *ngFor="let tt of tiposTelefone" value={{tt.key}}>{{(tt.value).replace('_', ' ')}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <button mat-mini-fab  color="warn" class="button-remove-telefone" (click)="removeTelefone(i)" *ngIf="saveEnabled">
                <mat-icon>remove</mat-icon>
              </button>
            </div>
          </div>
        </div>
      </div>


      <div formArrayName="atividadesEconomicas">
        <h5>Atividades Econômicas
          &nbsp;&nbsp;
          <button mat-mini-fab  color="warn" type="button" class="plus-custom-button" (click)="addAtividade()" *ngIf="saveEnabled">
            <mat-icon>add</mat-icon>
          </button>
        </h5>

        <mat-chip-list *ngFor="let ae of detailForm.controls.atividadesEconomicas.controls; let i=index">

          <mat-chip [formGroupName]="i" [removable]="removable"  color="warn">
            {{ae.value.nome}}
            <mat-icon matChipRemove (click)="removeAtividade(i)" *ngIf="saveEnabled">cancel</mat-icon>
          </mat-chip> &nbsp;&nbsp;
        </mat-chip-list>
      </div>


      <mat-dialog-actions>
        <br>
        <button mat-raised-button  color="warn" type="submit" [disabled]="detailForm.invalid" *ngIf="saveEnabled">Salvar</button>
        &nbsp;
        <button mat-raised-button  color="warn" type="button" routerLink="/fornecedor">Voltar</button>
      </mat-dialog-actions>
    </form>

  </mat-card-content>
</mat-card>

<!--<pre>{{ detailForm.value | json }}</pre>-->
