/*.card {*/
  /*!*background: #fff;*!*/
  /*!*border-radius: 2px;*!*/
  /*!*display: inline-block;*!*/
  /*!*height: 300px;*!*/
  /*!*margin: 1rem;*!*/
  /*!*position: relative;*!*/
  /*!*width: 300px;*!*/

  /*height: auto;*/
  /*width: auto;*/
  /*margin: 0.5em 0.5em 1em;*/
  /*box-shadow: 0 5px 5px rgba(0,0,0,.24);*/
  /*padding: 10px ;*/
/*}*/

/*.card-1 {*/
  /*box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);*/
  /*transition: all 0.3s cubic-bezier(.25,.8,.25,1);*/
/*}*/

/*.card-1:hover {*/
  /*box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);*/
/*}*/

.telefone-container {
  display: inline-flex;
}

.mat-chip-list{
  display: inline-flex;
}
