<form [formGroup]="detailForm" (ngSubmit)="submit(detailForm)">
  <mat-card>
    <mat-card-title>
      Incluir Colaborador
    </mat-card-title>

    <mat-card-content>

      <mat-form-field>
        <mat-icon matPrefix>perm_contact_calendar</mat-icon>
        <input type="text" matInput formControlName="cpf" placeholder="CPF" [textMask]="{mask: cpfMask}">
      </mat-form-field>

      <br>
      <mat-error *ngIf="colaboradorResult != null ">
        Colaborador já cadastrado:
        <li>Nome/Razão social: {{colaboradorResult?.nome}}</li>
        <li>Apelido/Nome fantasia : {{colaboradorResult?.apelido }}</li>
        <!--<li>Usuário/login : {{colaboradorResult?.usario.username}}</li>-->
        <li>Ativo: {{colaboradorResult?.ativo ? 'Sim' : 'Não'}}</li>
      </mat-error>

    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button  color="warn" type="submit" [disabled]="detailForm.invalid"
              class="btn-default">Continuar
      </button>
      <button mat-raised-button  color="warn" (click)="cancel()">Voltar</button>
    </mat-card-actions>
  </mat-card>
</form>
