<form [formGroup]="detailForm" (ngSubmit)="submit(detailForm)">
  <mat-card>
    <mat-card-title>
      Incluir Veículo
    </mat-card-title>
    <mat-card-content>

      <div>
        <mat-form-field style="width:75px !important">
          <mat-icon matPrefix>directions_car</mat-icon>
          <input type="text" matInput placeholder="AAA" formControlName="prefixo" size="3" maxlength="3"
                 autofocus style="text-transform: uppercase" appAutofocus
                 onkeypress="return String.fromCharCode(event.charCode).match(/[a-zA-Z]/g) != null">
        </mat-form-field>
        -
        <mat-form-field style="width:60px !important">
          <input type="text" matInput placeholder="1234" formControlName="sufixo" maxlength="4" [size]="4"
                 onkeypress="return String.fromCharCode(event.charCode).match(/[0-9]/g) != null">
        </mat-form-field>
      </div>

      <mat-error *ngIf="veiculo != null ">
        Veículo já cadastrado:
        <li>marca: {{veiculo?.marca.nome }}</li>
        <li>modelo: {{veiculo?.modelo}}</li>
        <li>cor: {{veiculo?.cor}}</li>
        <li>entrada: {{veiculo?.entrada}}</li>
        <li>situação: {{situacaoVeiculo.value.replace("_", " ") }} em {{veiculo?.dataSituacao}}</li>
      </mat-error>

    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button  color="warn" type="submit" [disabled]="detailForm.invalid"
              class="btn-default" >Continuar</button>
      <button mat-raised-button  color="warn" (click)="cancel()">Voltar</button>
    </mat-card-actions>
  </mat-card>
</form>
