<form [formGroup]="dialogForm" (ngSubmit)="submit(dialogForm)">
    <h3 mat-dialog-title>{{data.title}}</h3>
    <mat-dialog-content >
        {{data.message}}
    </mat-dialog-content>
    <mat-dialog-actions>
        <button mat-button type="submit">Ok</button>
        <button mat-button type="button" mat-dialog-close>Cancela</button>
    </mat-dialog-actions>
</form>