<h3 mat-dialog-title>{{data.title}}</h3>
<mat-dialog-content class="error">
  {{data.message}}
</mat-dialog-content>
<div *ngIf="data.error">
  {{data.error}}
</div>
<mat-dialog-actions>
  <button mat-raised-button (click)="closeDialog()">Ok</button>
</mat-dialog-actions>
