.page-content {
  background-image: url('../../../../assets/initial-page.jpg');
  background-repeat: no-repeat;
  background-size:100%;
  bottom: 0;
  color: black;
  left: 0;
  overflow: auto;
  padding: 3em;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
}


md-card-content {
  max-width: 400px;
  margin: 2em auto;
  text-align: center;
}

.signin-content {
  padding: 60px 1rem;
  max-width: 400px;
  margin-right: auto;
  margin-left: auto;
  /*background-color: transparent;*/
  opacity: 0.9;
  filter: alpha(opacity=90); /* For IE8 and earlier */
}
.full-width-input {
  width: 100%;
}
