<div class="page-content">

  <div class="signin-content" >
    <mat-progress-bar mode="indeterminate" *ngIf="isLoading"></mat-progress-bar>
    <mat-card >
      <mat-card-content>
        <form [formGroup]="frm" (ngSubmit)="onSubmit()">
          <h4>Informe seu email para instruções</h4>
          <mat-form-field class="full-width-input" aria-readonly="">
            <mat-icon matPrefix >mail</mat-icon>
            <input matInput placeholder="email" formControlName="email" required autofocus
                   appearance="standard" [readonly]="isLoading">
          </mat-form-field>
          <br/>
          <div>
            <button mat-raised-button class="btn-default"  color="warn" type="submit" style="width: 100%"
            [disabled]="frm.invalid || isLoading" >Continuar</button>
          </div>
          <br>
          <div>
            <!--[disabled]="isLoading"-->
            <button mat-raised-button  color="warn" style="width: 100%" (click)="cancel()"
                    [disabled]="isLoading">Voltar</button>
          </div>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
</div>

<p></p>

