<div *ngIf="auth.isLogged()">
  <nav></nav>
</div>
<div *ngIf="!auth.isLogged()">

  <div *ngIf="!auth.passwordForgotten()">
    <app-login></app-login>
  </div>
  <!--<div *ngIf="route.url.includes('/reset-password?')">-->
  <!--<app-reset-password></app-reset-password>-->
  <!--</div>-->
  <!--<div *ngIf="auth.isResetPassword()">-->
    <!--<app-reset-password></app-reset-password>-->
  <!--</div>-->

  <div *ngIf="auth.passwordForgotten()">
    <app-forgot-password></app-forgot-password>
  </div>
  <!--<router-outlet></router-outlet>-->
</div>


