<form [formGroup]="dialogForm">
  <h3 mat-dialog-title>Selecione o Usuário</h3>
  <mat-dialog-content>

    <mat-form-field>
      <!--<mat-select placeholder="Selecione o usuário" #user>-->
      <mat-select placeholder="Selecione o usuário" formControlName="user" >
        <mat-option *ngFor="let userItem of data" [value]="userItem" >
          {{userItem.username}}
        </mat-option>
      </mat-select>
    </mat-form-field>

  </mat-dialog-content>
  <mat-dialog-actions style="vertical-align: bottom">
    <button mat-raised-button  color="warn" type="submit" (click)="select()" >Seleciona</button>
    <button mat-raised-button  color="warn" (click)="onNoClick()" >Cancela</button>
  </mat-dialog-actions>
</form>
