<mat-card class="mat-card">
  <mat-card-header>
    <mat-card-title>Detalhe Veículo</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form [formGroup]="detailForm" (ngSubmit)="onSubmit()" class="detail-container">

      <div>
        <mat-form-field>
          <input readonly type="text" matInput placeholder="id" formControlName="id">
        </mat-form-field>
        &nbsp;&nbsp;&nbsp;&nbsp;
        <mat-form-field>
          <mat-icon matPrefix>directions_car</mat-icon>
          <strong>
            <input readonly type="text" matInput placeholder="Placa" formControlName="placa">
          </strong>
        </mat-form-field>
      </div>

      <div>
        <mat-form-field>
          <mat-icon matPrefix>playlist_add_check</mat-icon>
          <mat-select size="8" placeholder="situacao" formControlName="situacao"
                      (selectionChange)="statusChange($event.value)" >
            <mat-option *ngFor="let status of situacoes; index as idx" value={{status.key}}>{{(status.value).replace('_', ' ')}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        &nbsp;&nbsp;&nbsp;&nbsp;
        <mat-form-field>
          <mat-icon matPrefix>today</mat-icon>
          <input readonly type="text" matInput placeholder="Data Status" formControlName="dataSituacao">
        </mat-form-field>
      </div>

      <div>
        <mat-form-field>
          <mat-icon matPrefix>directions_car</mat-icon>
          <mat-select placeholder="marca" formControlName="marca" [compareWith]="compareFn">
            <mat-option *ngFor="let marcasItem of marcas" [value]="marcasItem">{{marcasItem.nome}}</mat-option>
          </mat-select>
        </mat-form-field>
        &nbsp;&nbsp;&nbsp;&nbsp;

        <mat-form-field>
          <mat-icon matPrefix>directions_car</mat-icon>
          <input type="text" matInput placeholder="modelo" formControlName="modelo" style="text-transform: uppercase">
        </mat-form-field>
        &nbsp;&nbsp;&nbsp;&nbsp;

        <mat-form-field>
          <mat-icon matPrefix>color_lens</mat-icon>
          <input type="text" matInput placeholder="cor" formControlName="cor" style="text-transform: uppercase">
        </mat-form-field>
      </div>

      <div>
        <mat-form-field>
          <mat-icon matPrefix>today</mat-icon>
          <input type="text" matInput placeholder="Ano fabricação: 0000" formControlName="anoFabricacao" size="4"
                 [maxlength]="4" onkeypress="return String.fromCharCode(event.charCode).match(/[0-9]/g) != null">
        </mat-form-field>
        &nbsp;&nbsp;&nbsp;&nbsp;

        <mat-form-field>
          <mat-icon matPrefix>today</mat-icon>
          <input type="text" matInput placeholder="Ano modelo: 0000" formControlName="anoModelo" size="4"
                 [maxlength]="4" onkeypress="return String.fromCharCode(event.charCode).match(/[0-9]/g) != null">
        </mat-form-field>
      </div>

      <div>
        <mat-form-field>
          <mat-icon matPrefix>today</mat-icon>
          <input matInput [matDatepicker]="entradaPicker" placeholder="Entrada veículo" formControlName="entrada">
          <mat-datepicker-toggle matSuffix [for]="entradaPicker"></mat-datepicker-toggle>
          <mat-datepicker #entradaPicker></mat-datepicker>
        </mat-form-field>

        &nbsp;&nbsp;&nbsp;&nbsp;
        <mat-form-field>
          <mat-icon matPrefix>today</mat-icon>
          <input matInput [matDatepicker]="saidaPicker" placeholder="Saída do veículo" formControlName="saida">
          <mat-datepicker-toggle matSuffix [for]="saidaPicker"></mat-datepicker-toggle>
          <mat-datepicker #saidaPicker></mat-datepicker>
        </mat-form-field>
      </div>

      <div>
        <mat-form-field>
          <mat-icon matPrefix>today</mat-icon>
          <input type="text" matInput placeholder="origem" formControlName="origem">
        </mat-form-field>
      </div>

      <mat-form-field>
        <mat-icon matPrefix>subject</mat-icon>
        <textarea matInput placeholder="Notas e observações" formControlName="notas"></textarea>
      </mat-form-field>

      <mat-dialog-actions>
        <button mat-raised-button  color="warn" type="submit" [disabled]="detailForm.invalid" *ngIf="saveEnabled">
          Salvar
        </button>
        &nbsp;
        <button mat-raised-button  color="warn" type="button" routerLink="/veiculo">Voltar</button>
      </mat-dialog-actions>

    </form>

  </mat-card-content>
</mat-card>
<!-- 
<pre>{{situacoes | json}} </pre>
<pre>{{detailForm.value | json}} </pre> -->
