<form [formGroup]="dialogForm" (ngSubmit)="submit(dialogForm)">
    <h3 mat-dialog-title>Placa do Veículo</h3>
    <mat-dialog-content>

      <div>
        <mat-form-field style="width:75px !important">
          <mat-icon matPrefix>directions_car</mat-icon>
           <input type="text" matInput placeholder="AAA" formControlName="prefixo" size="3" maxlength="3"
                  autofocus  style="text-transform: uppercase"
                 onkeypress="return String.fromCharCode(event.charCode).match(/[a-zA-Z]/g) != null">
        </mat-form-field>
        -
        <mat-form-field style="width:60px !important">
          <input type="text" matInput placeholder="1234" formControlName="sufixo" maxlength="4" [size]="4"
                 onkeypress="return String.fromCharCode(event.charCode).match(/[0-9]/g) != null">
        </mat-form-field>
      </div>

    </mat-dialog-content>
    <mat-dialog-actions style="vertical-align: bottom">
      <button mat-raised-button  color="warn" type="submit" class="btn-default" [disabled]="dialogForm.invalid" >seleciona</button>
      <button mat-raised-button  color="warn" (click)="cancel()">cancela</button>
    </mat-dialog-actions>
</form>
