<mat-card class="mat-card">
  <mat-card-header>
    <mat-card-title>Detalhe Estado</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form [formGroup]="detailForm" (ngSubmit)="onSubmit()"  class="detail-container">

      <mat-form-field autofocus >
        <input matInput placeholder="uf" formControlName="uf">
      </mat-form-field>

      <mat-form-field >
        <input matInput placeholder="nome" formControlName="nome" >
      </mat-form-field>

      <mat-form-field >
        <input matInput type="number" placeholder="codigoIbge" formControlName="codigoIbge" >
      </mat-form-field>

      <mat-form-field >
        <mat-select placeholder="regiao" formControlName="regiao" [compareWith]="compareFn">
          <mat-option *ngFor="let regiaoItem of regioes" [value]="regiaoItem">{{regiaoItem.nome}}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-dialog-actions>
        <button mat-raised-button  color="warn" type="submit" [disabled]="detailForm.invalid"  *ngIf="saveEnabled">Salvar</button>
        &nbsp;
        <button mat-raised-button  color="warn" type="button" routerLink="/estado" >Voltar</button>
      </mat-dialog-actions>
    </form>

  </mat-card-content>
</mat-card>

