/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
/*
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";*/


/*
indigo-pink.css
pink-bluegrey.css
purple-green.css
deeppurple-amber.css

@include mat-core();
$custom-primary: mat-palette($mat-deep-purple);
$custom-accent: mat-palette($mat-pink);

$custom-theme: mat-ligth-theme($custom-primary, $custom-accent);
@include angular-material-theme($custom-theme);

$alt-primary: mat-pallete($mat-yellow);
$alt-primary: mat-pallete($mat-grey, 200);

$alt-theme: mat-dark-theme($alt-primary, $alt-accent);

.alternative{
  @include angular-material-theme($alt-theme);
};
*/

@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~bootstrap/dist/css/bootstrap-reboot.min.css";


.mat-card-header {
  border-bottom: 1px dimgrey solid;
  margin-bottom: 15px;
}

.mat-row:nth-child(even){
  /*background-color:red;*/
  background: #f5f5f5;
}

/*.mat-row:nth-child(odd){*/
  /*background-color:black;*/
  /*background: #efefef;*/
/*}*/

.mat-column-actionsColumn {
  flex: 0 0 120px !important;
  white-space: unset !important;
}

.table-search-pagging{
  width: 100%;
}

.detail-container {
  display: flex;
  flex-direction: column;
}

.detail-container > * {
  width: 100%;
}

.detail-container > * {
  width: 100%;
}

.mat-tab > * {
  width: 100%;
}

.mat-tab-group > * {
  width: 100%;
}

.loading {
  position: fixed;
  top: 0; right: 0;
  bottom: 0; left: 0;
  background: #fff;
}
.loader {
  left: 50%;
  margin-left: -4em;
  font-size: 10px;
  border: .8em solid rgba(218, 219, 223, 1);
  border-left: .8em solid rgba(58, 166, 165, 1);
  animation: spin 1.1s infinite linear;
}
.loader, .loader:after {
  border-radius: 50%;
  width: 8em;
  height: 8em;
  display: block;
  position: absolute;
  top: 50%;
  margin-top: -4.05em;
}

@keyframes spin {
  0% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
