<mat-card class="mat-card">
  <mat-card-header>
    <mat-card-title>Detalhe Perfil</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form [formGroup]="detailForm" (ngSubmit)="onSubmit()" class="detail-container">
      <div>

        <mat-form-field>
          <!--<span>{{detailForm.get('id').value }}</span>-->
          <input matInput placeholder="id" formControlName="id" readonly>
        </mat-form-field>
        &nbsp;
        &nbsp;
        <mat-form-field>
          <input matInput placeholder="Name" formControlName="name" autofocus>
        </mat-form-field>
        &nbsp;
        &nbsp;
        <mat-form-field>
          <input matInput placeholder="description" formControlName="description">
        </mat-form-field>
        &nbsp;
        &nbsp;

        <mat-checkbox formControlName="active">Ativo</mat-checkbox>
      </div>

      <div>
        <button mat-raised-button  color="warn" type="submit" [disabled]="detailForm.invalid" *ngIf="saveEnabled">Salvar</button>
        &nbsp;
        <button mat-raised-button  color="warn" type="button" routerLink="/role">Voltar</button>
      </div>

      <hr>

      <div formArrayName="roleMenuList">

        <table class="table">
          <tr>
            <th>
              <span>Menu: </span>
              <input type="text" [(ngModel)]="queryString" [ngModelOptions]="{standalone: true}">
            </th>
            <th>
              <span>
                  Acessos:
              </span>
              <span *ngIf="saveEnabled">
                <!--<button mat-icon-button="check_box"></button>-->
                <mat-checkbox (change)="$event ? selectAll(true) : null"
                              [checked]="isAllSelected(true)"
                              [indeterminate]="!isAllSelected(true)">
                  Selecionar
                </mat-checkbox>
              </span>
              <span *ngIf="saveEnabled">
              <mat-checkbox (change)="$event ? selectAll(false) : null"
                            [checked]="isAllSelected(false)"
                            [indeterminate]="!isAllSelected(false)">
                  Deselecionar
              </mat-checkbox>
              </span>
            </th>
          </tr>
          <tr
            *ngFor="let item of detailForm.controls.roleMenuList?.controls | filterRole: queryString : 'name' ; let i=index"
            [formGroupName]="i">

            <td>
              <a *ngFor="let i of getArray(item.value.menu) ">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
              <span> {{item.value.menu.description}}</span>
            </td>
            <td>
              <span *ngIf="isBranch(item.value.menu) || menuCrud(item.value.menu, 'R')">
                <mat-checkbox formControlName="read" [disabled]="!saveEnabled">
                  <span *ngIf="! isBranch(item.value.menu)">
                    Consultar
                  </span>
                </mat-checkbox>
                &nbsp;&nbsp;&nbsp;&nbsp;
              </span>

              <span *ngIf="menuCrud(item.value.menu, 'C')" >
                <mat-checkbox formControlName="create" [disabled]="!saveEnabled">Incluir </mat-checkbox>
                &nbsp;&nbsp;&nbsp;&nbsp;
              </span>

              <span *ngIf="menuCrud(item.value.menu, 'U')">
                <mat-checkbox formControlName="update" [disabled]="!saveEnabled">Alterar </mat-checkbox>
                &nbsp;&nbsp;&nbsp;&nbsp;
              </span>

              <span *ngIf="menuCrud(item.value.menu, 'D')">
                <mat-checkbox formControlName="delete" [disabled]="!saveEnabled">Excluir</mat-checkbox>
              </span>
            </td>
          </tr>
        </table>
      </div>

      <mat-dialog-actions>
        <button mat-raised-button  color="warn" type="submit" [disabled]="detailForm.invalid" *ngIf="saveEnabled">Salvar</button>
        &nbsp;
        <button mat-raised-button  color="warn" type="button" routerLink="/role">Voltar</button>
      </mat-dialog-actions>
    </form>

  </mat-card-content>
</mat-card>
