<form [formGroup]="detailForm">
  <mat-card>
    <mat-card-title>
      Alterar SituaçãoVeículo
    </mat-card-title>
    <mat-card-content>

      <div>
        <mat-form-field style="width:75px !important">
          <mat-icon matPrefix>directions_car</mat-icon>
          <input type="text" matInput placeholder="AAA" formControlName="prefixo" size="3" maxlength="3"
                 autofocus style="text-transform: uppercase" appAutofocus
                 onkeypress="return String.fromCharCode(event.charCode).match(/[a-zA-Z]/g) != null">
        </mat-form-field>
        -
        <mat-form-field style="width:60px !important">
          <input type="text" matInput placeholder="1234" formControlName="sufixo" maxlength="4" [size]="4"
                 onkeypress="return String.fromCharCode(event.charCode).match(/[0-9]/g) != null">
        </mat-form-field>
        &nbsp;&nbsp;&nbsp;&nbsp;
        <button mat-mini-fab  color="warn" (click)="buscaVeiculo()" [disabled]="loading">
          <mat-icon>search</mat-icon>
        </button>
      </div>

      <mat-error *ngIf="veiculo == null && placa != null">
        Nenhum veículo localizado com a placa informada!
      </mat-error>

      <div *ngIf="veiculo != null && placa != null"  class="form-group">
        <div>
          <span>Placa: </span>
          <strong>{{veiculo?.placa}}</strong>
        </div>
        <div>
          <span>Marca: </span>
          <strong>{{veiculo?.marca.nome}}</strong>
          &nbsp;&nbsp;
          <span>Modelo: </span>
          <strong>{{veiculo?.modelo}}</strong>
          &nbsp;&nbsp;
          <span>cor: </span>
          <strong>{{veiculo?.cor}}</strong>
          &nbsp;&nbsp;
          <span>Ano: </span>
          <strong>{{veiculo?.anoFabricacao}}</strong>
          &nbsp;&nbsp;
          <span>Modelo: </span>
          <strong>{{veiculo?.anoModelo}}</strong>
          &nbsp;&nbsp;
        </div>
        <div>
          <span>Situação: </span>
          <strong>{{situacaoAtual?.value.replace("_"," ")}}</strong>
          &nbsp;&nbsp;
          <span>  em  </span>
          <strong>{{veiculo?.dataSituacao}}</strong>
        </div>
      </div>

      <div *ngIf="veiculo != null && placa != null">
        <mat-form-field>
          <mat-icon matPrefix>playlist_add_check</mat-icon>
          <mat-select size="8" placeholder="Nova situação" formControlName="situacao">
            <mat-option *ngFor="let situacao of listaNovaSituacao" value={{situacao.key}}>{{(situacao.value).replace('_', ' ')}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div *ngIf="loading">
        <mat-spinner></mat-spinner>
      </div>

    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button  color="warn" type="submit" [disabled]="detailForm.invalid"
              class="btn-default" (click)="alterarSituacao()">Continuar
      </button>
      <button mat-raised-button  color="warn" (click)="cancel()">Voltar</button>
    </mat-card-actions>
  </mat-card>
</form>
