<mat-card class="mat-card">
  <mat-card-header>
    <mat-card-title>Relatório - Listagem de Veículos</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form [formGroup]="detailForm" (ngSubmit)="filtrar()" class="detail-container">


      <div>
        <table>
          <tr>
            <th>Tipo de relatório</th>
            <th>Selecione situações</th>
            <th>&nbsp;&nbsp;&nbsp;</th>
            <th>Período</th>
          </tr>
          <tr style="vertical-align: top">

            <td>
              <br>
              <mat-radio-group  placeholder="Tipo" formControlName="tipoReport" class="radio-group">
                <mat-radio-button value="analitico">Analítico</mat-radio-button>
                <br>
                <mat-radio-button value="sintetico">Sintético</mat-radio-button>
              </mat-radio-group>
              &nbsp;&nbsp;
            </td>

            <td>
              <mat-selection-list formControlName="situacoes" >
                <mat-list-option *ngFor="let status of situacoes; index as idx" value={{status.key}}
                                 checkboxPosition="before"
                                 (ngModelChange)="onSituacaoChange($event)" disabled="{{detailForm.get('tipoReport').value == 'sintetico'}}">
                  {{(status.value).replace('_', ' ')}}
                </mat-list-option>
              </mat-selection-list>

            </td>

            <td>
            </td>

            <td>
              <br>
              <div>
                <mat-form-field>
                  <mat-icon matPrefix>today</mat-icon>
                  <input matInput [matDatepicker]="dtIniPicker" placeholder="Início" formControlName="dataIni">
                  <mat-datepicker-toggle matSuffix [for]="dtIniPicker"></mat-datepicker-toggle>
                  <mat-datepicker #dtIniPicker></mat-datepicker>
                </mat-form-field>
              </div>

              <div>
                <mat-form-field >
                  <mat-icon matPrefix>today</mat-icon>
                  <input matInput [matDatepicker]="dtFimPicker" placeholder="Fim" formControlName="dataFim">
                  <mat-datepicker-toggle matSuffix [for]="dtFimPicker"></mat-datepicker-toggle>
                  <mat-datepicker #dtFimPicker></mat-datepicker>
                </mat-form-field>
              </div>

              <div>
                <div>
                  <button mat-raised-button  color="warn" type="submit" [disabled]="detailForm.invalid">
                    Filtrar
                  </button>

                  &nbsp;&nbsp;

                  <button mat-raised-button  color="warn" type="button" [disabled]="veiculos.length==0" (click)="print()">
                    Imprimir
                  </button>

                  &nbsp;&nbsp;

                  <button mat-raised-button  color="warn" type="button" [disabled]="veiculos.length==0" (click)="exportToPdf()">
                    Salvar PDF
                  </button>
                </div>

              </div>

            </td>

          </tr>

        </table>


      </div>
    </form>

  </mat-card-content>
</mat-card>
<br>

<div id="print-section" style="overflow-y: scroll;">
  <div *ngIf="detailForm.get('tipoReport').value == 'analitico'">
    <h3>Listagem de veículos - analítico</h3>
    <h6 *ngFor="let f of filtros">{{f}}</h6>
    <hr/>
    <table class="table table-striped table-condensed table-bordered">
      <tr>
        <th>Placa</th>
        <th>Marca</th>
        <th>Modelo</th>
        <th>Cor</th>
        <th>Situação</th>
        <th>Data Situação</th>
      </tr>
      <tr *ngFor="let v of veiculos">
        <td>{{v.placa}}</td>
        <td>{{v.marca}}</td>
        <td>{{v.modelo}}</td>
        <td>{{v.cor}}</td>
        <td>{{v.situacao}}</td>
        <td>{{v.dataSituacao | date : "dd-MM-yyyy HH:mm:ss"}}</td>
    </table>
    <hr/>
    <p>Total de veículos: {{veiculos?.length}}</p>
  </div>


  <div *ngIf="detailForm.get('tipoReport').value == 'sintetico'">

    <h3>Listagem de veículos  - sintético</h3>
    <h6 *ngFor="let f of filtros">{{f}}</h6>
    <hr/>
    <table class="table table-striped table-condensed table-bordered">
      <tr>
        <th>Situação</th>
        <th>Quantidade</th>
      </tr>
      <tr *ngFor="let t of totais">
        <td>{{t.key}}</td>
        <td>{{t.quantidade}}</td>
    </table>

  </div>
</div>
