@import "~bootstrap/dist/css/bootstrap.min.css";

/*@page {*/
  /*size: A4;*/
  /*margin: 0;*/
/*}*/
/*@media print {*/
  /*#nav,#container ,#footer { display: none; }*/
/*}*/

/*!*nav, footer, video, audio, object, embed {*!*/
  /*!*display:none;*!*/
/*!*}*!*/

.radio-group {
  display: inline-flex;
  flex-direction: column;
}
