.container {
  display: block;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin:0;
  /*width: available;*/
  /*height: max-content;*/
  /*min-height: 100% !important;*/
}

.mat-nav-list  {
   font-size: 10px;
}

.is-mobile .toolbar {
  /*position: fixed;*/
  /* Make sure the toolbar will stay on top of the content as it scrolls past. */
  z-index: 2;
  box-shadow: 3px 0 6px rgba(0,0,0,.24);
}

span.app-name {
  margin-left: 8px;
}

.sidenav-container {
  /* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
     causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
  flex: 1;
  /*flex-direction: column;*/
  /*min-height: calc(100vh- 50px);*/
}

.is-mobile .sidenav-container {
  /* When the sidenav is fixed, don't constrain the height of the sidenav container. This allows the
     `<body>` to be our scrolling element for mobile layouts. */
  flex: 1 0 auto;
}
