<div class="container " [class.is-mobile]="mobileQuery.matches">


    <mat-toolbar color="warn" class="mat-elevation-z2">
      <button mat-icon-button (click)="snav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <span routerLinkActive="/">
          <img src={{image}} class="angular-logo" [routerLink]="['/']" height="60">
        </span>
      <span class="app-name" style="float:left;">Controle de ordem de serviços</span>
    </mat-toolbar>

  <div style="min-height: 100% !important; display: flex; flex-direction: ">

    <mat-sidenav-container class="sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0"
                           style="min-height: 100% !important;">
      <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches"
                   fixedTopGap="56">
        <mat-nav-list>
          <a mat-list-item routerLink="/">
            <mat-icon matPrefix >home</mat-icon>&nbsp; Início</a>
          <mat-divider></mat-divider>

          <mat-accordion>

            <mat-expansion-panel *ngIf="acessoItem('Veiculo')">
              <mat-expansion-panel-header>
                <!--<mat-panel-title>-->
                <mat-icon matPrefix>directions_car</mat-icon>&nbsp; Veiculos
                <!--</mat-panel-title>-->
              </mat-expansion-panel-header>
              <!--<mat-nav-list>-->
              <a mat-list-item routerLink="/veiculo/cadastrar" *ngIf="acessoItem('Veiculo', 'C')">Incluir</a>
              <a mat-list-item routerLink="/veiculo/alterar-situacao" *ngIf="acessoItem('Veiculo','U')">Alterar Situação</a>
              <a mat-list-item routerLink="/veiculo" *ngIf="acessoItem('Veiculo')">Listagem</a>
              <!--</mat-nav-list>-->
            </mat-expansion-panel>
            <mat-divider></mat-divider>

            <mat-expansion-panel *ngIf="acessoItem('OrdemServico')">
              <mat-expansion-panel-header>
                <!--<mat-panel-title>-->
                <mat-icon matPrefix>build</mat-icon>&nbsp; Serviços
                <!--</mat-panel-title>-->
              </mat-expansion-panel-header>
              <mat-nav-list>
                <a mat-list-item [routerLink]="['/ordem-servico/detail']" [queryParams]="{ mode:'insert'}" *ngIf="acessoItem('OrdemServico','C')">Incluir</a>
                <a mat-list-item routerLink="/ordem-servico" *ngIf="acessoItem('OrdemServico')">Listagem</a>
                <mat-divider></mat-divider>
                <a mat-list-item routerLink="/situacao-servico" *ngIf="acessoItem('SituacaoServiço')">Situação Serviço</a>
                <a mat-list-item routerLink="/natureza-servico" *ngIf="acessoItem('NaturezaServiço')">Natureza Serviço</a>
              </mat-nav-list>
            </mat-expansion-panel>
            <mat-divider></mat-divider>

            <mat-expansion-panel *ngIf="acessoItem('Cadastros')">
              <mat-expansion-panel-header>
                <!--<mat-panel-title>-->
                <mat-icon matPrefix>perm_contact_calendar</mat-icon>&nbsp; Cadastros
                <!--</mat-panel-title>-->
              </mat-expansion-panel-header>
              <mat-nav-list>
                <a mat-list-item routerLink="/fornecedor" *ngIf="acessoItem('Fornecedor')">Fornecedores</a>
                <a mat-list-item routerLink="/colaborador" *ngIf="acessoItem('Colaborador')">Colaboradores</a>
                <!--<a mat-list-item routerLink="/empresa">Empresa</a>-->
                <!--<a mat-list-item routerLink="/filial">Filial</a>-->
              </mat-nav-list>
            </mat-expansion-panel>
            <mat-divider></mat-divider>

            <mat-expansion-panel *ngIf="acessoItem('Relatorios')">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  <mat-icon matPrefix>list_alt</mat-icon>&nbsp; Relatórios
                </mat-panel-title>
              </mat-expansion-panel-header>
              <mat-nav-list>
                <!--<a mat-list-item routerLink="/report/veiculo-situacao">Veículos por situação</a>-->
                <a mat-list-item routerLink="/report/veiculo-listagem" *ngIf="acessoItem('RelatorioListagemVeiculo')">Listagem de Veículos</a>
              </mat-nav-list>
            </mat-expansion-panel>
            <mat-divider></mat-divider>

            <mat-expansion-panel *ngIf="acessoItem('Tabelas')">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  <mat-icon matPrefix>subtitles</mat-icon>&nbsp; Tabelas
                </mat-panel-title>
              </mat-expansion-panel-header>
              <mat-nav-list>
                <a mat-list-item routerLink="/marca-veiculo" *ngIf="acessoItem('MarcaVeículo')">Marcas de Veículos</a>
                <a mat-list-item routerLink="/atividade-economica" *ngIf="acessoItem('AtividadeEconomica')">Atividades Econômicas</a>
                <mat-divider></mat-divider>
                <a mat-list-item routerLink="/municipio" *ngIf="acessoItem('Municipio')">Municípios</a>
                <a mat-list-item routerLink="/estado" *ngIf="acessoItem('Estado')">Estados</a>
                <a mat-list-item routerLink="/regiao" *ngIf="acessoItem('Regiao')">Regiões</a>
              </mat-nav-list>
            </mat-expansion-panel>
            <mat-divider></mat-divider>

            <mat-expansion-panel *ngIf="acessoItem('Seguranca')">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  <mat-icon matPrefix>security</mat-icon>&nbsp; Segurança
                </mat-panel-title>
              </mat-expansion-panel-header>
              <mat-nav-list>
                <a mat-list-item routerLink="/user" *ngIf="acessoItem('Usuario')">Usuários</a>
                <a mat-list-item routerLink="/role" *ngIf="acessoItem('PerfilAcesso')">Perfis de Acesso</a>
              </mat-nav-list>
            </mat-expansion-panel>

          </mat-accordion>
          <!--<a mat-list-item  routerLink="/teste-data"><mat-icon matPrefix>bug_report</mat-icon>&nbsp; Testes</a>-->
          <!--<mat-divider></mat-divider>-->

          <a mat-list-item (click)="auth.logout()" routerLink="/">
            <mat-icon matPrefix>exit_to_app</mat-icon>&nbsp; Sair
          </a>
          <mat-divider></mat-divider>

        </mat-nav-list>
      </mat-sidenav>

      <!--<mat-sidenav-content style="min-height: 100% !important;">-->
      <mat-sidenav-content>

        <div style="min-height: 100% !important;">
        <!--<div>-->
          <router-outlet></router-outlet>
        </div>

      </mat-sidenav-content>
    </mat-sidenav-container>
  </div>

  <!--<app-footer></app-footer>-->
</div>

