<mat-card class="mat-card">
  <mat-card-header>
    <mat-card-title>Detalhe Natureza do Serviço</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form [formGroup]="detailForm" (ngSubmit)="onSubmit()"  class="detail-container">

      <mat-form-field >
        <input matInput placeholder="id" readonly formControlName="id" >
      </mat-form-field>

      <mat-form-field >
        <input matInput placeholder="Nome" formControlName="nome" >
      </mat-form-field>

      <mat-form-field >
        <input matInput placeholder="observacao" formControlName="observacao" >
      </mat-form-field>

      <mat-checkbox formControlName="ativo" >ativo</mat-checkbox>

      <mat-dialog-actions>
        <button mat-raised-button  color="warn" type="submit" [disabled]="detailForm.invalid"  *ngIf="saveEnabled">Salvar</button>
        &nbsp;
        <button mat-raised-button  color="warn" type="button" routerLink="/natureza-servico" >Voltar</button>
      </mat-dialog-actions>
    </form>

  </mat-card-content>
</mat-card>

